[submodule "javasrc/1"]
	path = javasrc/1
	url = https://github.com/ybroeker/spring-example.git
	branch = 1
[submodule "javasrc/2"]
	path = javasrc/2
	url = https://github.com/ybroeker/spring-example.git
	branch = 2
[submodule "javasrc/3"]
	path = javasrc/3
	url = https://github.com/ybroeker/spring-example.git
	branch = 3
[submodule "javasrc/4"]
	path = javasrc/4
	url = https://github.com/ybroeker/spring-example.git
	branch = 4
[submodule "javasrc/5"]
	path = javasrc/5
	url = https://github.com/ybroeker/spring-example.git
	branch = 5
[submodule "javasrc/6"]
	path = javasrc/6
	url = https://github.com/ybroeker/spring-example.git
	branch = 6
[submodule "javasrc/7"]
	path = javasrc/7
	url = https://github.com/ybroeker/spring-example.git
	branch = 7
[submodule "javasrc/8"]
	path = javasrc/8
	url = https://github.com/ybroeker/spring-example.git
	branch = 8
